/*--------------------
--GENERAL--
--------------------*/

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	outline:none;
}

html{
	overflow:hidden;
	font-family:'Open Sans',sans-serif;
	background:#fff;
}

.no-clicky{
	pointer-events:none;
}

/*--------------------
--HEADER--
--------------------*/

header{
	position:absolute;
	background:transparent;
	width:100%;
	height:10%;
}

header h2{
	position:absolute;
	text-align:center;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	font-size:1.25em;
	color:#472424;
	font-family:'Open Sans',sans-serif;
	width:100%;
	font-weight:400;
}

/*--------------------
--DATE BAR--
--------------------*/

.date-bar{
	position:absolute;
	top:10%;
	background:#472424;
	width:100%;
	height:5%;
}

.date{
	color:#fff;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	font-size:0.85em;
	width:100%;
	text-align:center;
}

.fa-chevron-left{
	color:#fff;
	font-size:1em;
	position:absolute;
	top:50%;
	left:30%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
}

.fa-chevron-right{
	color:#fff;
	font-size:1em;
	position:absolute;
	top:50%;
	right:30%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
}

.left-bar{
	position:absolute;
	border-right:1px solid #8F4747;
	height:100%;
	width:10%;
	cursor:pointer;
}

.right-bar{
	position:absolute;
	border-left:1px solid #8F4747;
	height:100%;
	width:10%;
	right:0;
	cursor:pointer;
}

/*--------------------
--SLIDER--
--------------------*/

.slider{
	position:absolute;
	bottom:30px;
	width:65%;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	outline:none;
	cursor:pointer;
}

input[type='range']{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
}

input[type='range']::-webkit-slider-thumb{
	-webkit-appearance:none;
	border-radius:50%;
	width:25px;
	height:25px;
	border:1px solid transparent;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	background-color:#472424;
}

input[type='range']::-webkit-slider-runnable-track{
	-webkit-appearance:none;
	background-color:#999;
	height:2px;
}

input[type='range']::-moz-range-thumb{
	-moz-appearance:none;
	border-radius:50%;
	width:25px;
	height:25px;
	border:1px solid transparent;
	margin:0;
	background-color:#472424;
}

input[type='range']::-moz-range-track{
	-moz-appearance:none;
	background-color:#999;
	height:2px;
}

input[type='range']::-ms-thumb{
	width:15px;
	height:15px;
	margin:0 3px;
	background-color:#472424;
	border:none;
	border-radius:8px;
	transform:translateY(0);
	-ms-transform:translateY(0);
}

input[type='range']::-ms-track{
	height:5px;
	border-color:transparent;
  	border-width:5px 0;
  	color:transparent;
}

input[type='range']::-ms-fill-upper{
	background-color:#999;
	border-radius:5px;
}

input[type='range']::-ms-fill-lower{
	background-color:#999;
	border-radius:5px;
}

input[type='range']::-ms-tooltip{
	display:none;
}

input[type='range']:focus{
	outline:none;
}

/*--------------------
--JOURNAL--
--------------------*/

.journal{
	position:absolute;
	top:15%;
	height:85%;
	width:100%;
}

.today{
	position:absolute;
	width:80%;
	height:70%;
	background:transparent;
	left:50%;
	top:50%;
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	border:2px solid #472424;
}

textarea{
	-webkit-appearance:none;
	appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	position:absolute;
	width:80%;
	height:100%;
	background:transparent;
	left:0;
	top:0%;
	border:none;
	outline:none;
	padding:10px;
	font-family:'Open Sans';
	color:#472424;
	font-size:1.25em;
}

/*--------------------
--MOOD--
--------------------*/

.mood{
	position:absolute;
	right:0;
	width:20%;
	top:50%;
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}

.mood i{
	text-align:center;
	font-size:3em;
	cursor:pointer;
	display:block;
	padding:5px 0 5px 0;
	color:#999;
}

.current-mood{
	color:#472424!important;
}

/*--------------------
--MEDIA--
--------------------*/

@media screen and (max-height:450px){
	.mood i{
		font-size:2em;
	}

	.today{
		height:60%;
	}
}